body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	position: relative;
	border: 1px solid;
	width: 500px;
	height: 600px;
	background-image: url(cat.jpg);
	background-size: cover;
	overflow: hidden;
}
.card:hover .overlay{
	opacity: 0.5;
	transform: translateX(0);
}
.overlay {
	position: absolute;
	background-color: rgba(238, 130, 238, .5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
	transition-duration: 1s;
	opacity: 1;
	/*transition-property: transform;*/
	/*transition-delay: 0.1s;*/
	transition: all 1s, opacity .3s;
}